#include everything within /3354-team5/Calendar/
!/3354-team5/Calendar/ 
!/3354-team5/Calendar/*
!3354-team5/Calendar/ 
!3354-team5/Calendar/*
!/Calendar/ 
!/Calendar/*
!/Calendar/bin/application/ 
!/Calendar/bin/application/ *